/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        sh_scha: sh_scha {
            compatible = "zmk,behavior-tap-dance";
            label = "SH_SCHA";
            #binding-cells = <0>;
            bindings = <&kp RU_CYRILLIC_SHA>, <&kp RU_CYRILLIC_SHCHA>;
        };

        soft_hard_sign: soft_hard_sign {
            compatible = "zmk,behavior-tap-dance";
            label = "SOFT_HARD_SIGN";
            #binding-cells = <0>;
            bindings = <&kp RU_CYRILLIC_SOFT_SIGN>, <&kp RU_CYRILLIC_HARD_SIGN>;
        };

        en_space: en_space {
            compatible = "zmk,behavior-mod-morph";
            label = "EN_SPACE";
            bindings = <&kp SPACE>, <&layer_en>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        ru_space: ru_space {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_SPACE";
            bindings = <&kp SPACE>, <&layer_ru>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };
    };

    macros {
        mission_control_mac_os: mission_control_mac_os {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp UP_ARROW>,
                <&macro_release>,
                <&kp LCTRL &kp UP_ARROW>;

            label = "MISSION_CONTROL_MAC_OS";
        };

        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(NUMBER_2))>;
            label = "TO_RU";
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N1))>;
            label = "TO_EN";
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
        };

        lg_tog: lg_tog {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE) &tog 1>;
            label = "LG_TOG";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3     &kp N4    &kp N5                          &kp N6      &kp N7    &kp N8     &kp N9   &kp N0    &kp EQUAL
&kp TAB         &kp Q   &kp W   &kp E      &kp R     &kp T                           &kp Y       &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp CAPS        &kp A   &kp S   &kp D      &kp F     &kp G                           &kp H       &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C      &kp V     &kp B     &ru_space    &kp RET  &kp N       &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                &kp LCTRL  &kp LALT  &kp LGUI  &trans       &mo 2    &kp DELETE  &kp BSPC  &trans
            >;
        };

        ru {
            bindings = <
&kp ESC       &kp N1                   &kp N2                &kp N3              &kp N4              &kp N5                                    &kp N6              &kp N7               &kp N8              &kp N9              &kp N0               &kp EQUAL
&kp TAB       &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U   &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                        &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE  &sh_scha            &kp RU_CYRILLIC_ZE  &kp RU_CYRILLIC_HA   &kp MINUS
&kp CAPSLOCK  &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_YERU  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                        &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O    &kp RU_CYRILLIC_EL  &kp RU_CYRILLIC_DE  &kp RU_CYRILLIC_ZHE  &kp SQT
&kp LSHIFT    &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I   &en_space    &kp RET  &kp RU_CYRILLIC_TE  &soft_hard_sign      &kp RU_CYRILLIC_BE  &kp RU_CYRILLIC_YU  &kp FSLH             &kp BACKSLASH
                                                             &kp LCTRL           &kp LALT            &kp LGUI            &trans       &mo 2    &kp DELETE          &kp BSPC             &trans
            >;
        };

        navigation {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &mission_control_mac_os  &trans  &trans                    &trans  &trans    &trans    &trans   &kp C_VOL_DN     &kp C_VOL_UP
&kp F1  &kp F2                &kp F3                &kp F4                   &kp F5  &kp F6                    &kp F7  &kp F8    &kp F9    &kp F10  &kp F11          &kp F12
&trans  &trans                &trans                &trans                   &trans  &trans                    &trans  &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT_ARROW  &trans
&trans  &trans                &trans                &trans                   &trans  &trans  &trans    &trans  &trans  &trans    &trans    &trans   &trans           &trans
                                                    &trans                   &trans  &trans  &trans    &trans  &trans  &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
